"use strict";

module.exports = {
	api: {
		qpx: {
			key: "",
			host: "www.googleapis.com",
			path: "/qpxExpress/v1/trips/search"
		}
	},
	db: {
		database: "testapp",
		host: "localhost",
		user: "root",
		password: ""
	}
}